h1{color: red ;}
body {
    background-image: url(https://media.tenor.com/images/7a776e74ccda0d1359787c0d63744865/tenor.gif);
}
p {background: lime;}
#par2 {background-color: mediumpurple; }
.par3 {background-color: salmon; }
